@use "../../../styles/themes.scss";
@use "../../../styles/mixins.scss" as m;

.carousel_div {
  @include m.flex(center, center, column);
  width: 50%;
  gap: 10px;

    &>img{
        width: 100%;
    }

  .image_options {
    @include m.flex(center, space-between, row);
    gap: 10px;
    width: 100%;
    overflow-x: auto;

    img {
      width: 150px;
      border-radius: 10px;

      &.active {
        border: 3px solid #ffaf2f;
      }
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: var(--projects-card-scrollbar-background-color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: gray;
      border-radius: 20px;
      border: 2px solid var(--projects-card-scrollbar-background-color);
    }
  }
}

@media (max-width: 768px) {
  .carousel_div {
    width: 100%;
  }
}
