@use "../../../styles/themes.scss";

.LinkButton {
  button {
    background-color: #fff;
    transition: 0.3s;

    &.Linkedin {
      color: #002e4e;
      border: 3px solid #002e4e;
    }

    &.Github {
      color: #000;
      border: 3px solid #000;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
