@use "../../../styles/themes.scss";
@use "../../../styles/mixins.scss" as m;

.experienceSection{
    background-color: var(--main-background-secundary-color);
    color: var(--main-focus-text);
}


.formationCard{
    background-color: var(--main-card-background-color);
    color: var(--main-basic-text-color);

    max-width: 750px;
    width: 100%;
    box-shadow: 4px 6px 8px #0000006e;

    transition: .3s;

    hr{
        // border-color: ;
        border: 1px solid var(--hr-color);
    }

    &:hover{
        transform: scale(1.1);
    }
}