:root{
    --menu-background-color: #00406C;
    --menu-link-color: #caf0f8;
    --menu-icon-color: #ffea00;

    --main-background-color: #D5DEEF;
    --main-background-secundary-color: #B1C9EF;
    --main-text-color: #00406C;
    --main-focus-text: #001A2C;
    --main-basic-text-color: #000;

    --main-card-background-color: #efefef;
    
    --hr-color: #1c1c1c;
}

[data-theme="dark"]{
    --menu-background-color: #00111C;
    --menu-link-color: #90e0ef;
    --menu-icon-color: #ced4da;

    --main-background-color: #001523;
    --main-background-secundary-color: #032030;
    --main-text-color: #caf0f8;
    --main-focus-text: #ffd60a;
    --main-basic-text-color: #fff;

    --main-card-background-color: #1c1c1c;
    
    --hr-color: #efefef;
}