@use "../../../styles/themes.scss";
@use "../../../styles/mixins.scss" as m;

.aboutMeSection {
  background-color: var(--main-background-secundary-color);
  h2 {
    color: var(--main-focus-text);
  }

  .aboutMeDiv {
    @include m.flex(center, center, row);
    gap: 1em;

    article {
      width: 500px;

      p {
        color: var(--main-basic-text-color);
      }
    }
  }
}

@media (max-width: 768px) {
  .aboutMeSection {
    .aboutMeDiv{
      @include m.flex(center, center, column-reverse);

      article{
        width: 100%;
      }
    }
  }
}
