@use "../../../styles/themes.scss";
@use "../../../styles/mixins.scss" as m;


.knowledgeSection{
    background-color: var(--main-background-color);
    color: var(--main-focus-text);
}

.knowledgeIconDiv{
  @include m.flex(center, center, row);
  gap: 50px;

  .html {
    color: #f25d27;
  }
  .css {
    color: #214ce5;
  }
  .scss {
    color: #CE679A;
  }
  .js {
    color: #f7e018;
  }
  .ts {
    color: #037acc;
  }
  .react {
    color: #61dafb;
  }
  .next {
    color: #000;
  }
  .bootstrap {
    color: #8c0bfd;
  }
  .tailwind {
    color: #38bdf8;
  }
  .node {
    color: #68a063;
  }
  .mysql {
    color: #016089;
  }
  .mongo {
    color: #08f96a;
  }

  .vite {
    color: #b04df6;
  }
  .git {
    color: #f05033;
  }

  .github {
    color: #000;
  }


  .mainInfo{
    @include m.flex(center, space-evenly, column);
    height: 250px;
    width: 250px;
    background-color: #ededed;
  }
}

.iconDiv {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 15px;
  max-width: 1024px;

  span {
    @include m.flex(center, center, row);
    padding: 0.8rem;
    border-radius: 10px;
    background-color: #ededed;
    box-shadow: 4px 6px 8px #0000006e;

    font-size: 3em;
    transition: 0.3s;

   
    &:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 768px) {
  .knowledgeIconDiv{
    @include m.flex(center, center, column-reverse);
    gap: 25px;
  }

  .iconDiv {
    grid-template-columns: repeat(4, auto);
  }
}
