@use "../../../../styles/themes.scss";

.menuHamburguer {
  display: none;

  #checkbox-menu {
    position: absolute;
    opacity: 0;
  }

  label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
  }

  label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--menu-link-color);
    transition: 0.25s ease-in-out;
  }

  label span:nth-child(1) {
    top: 0;
  }

  label span:nth-child(2) {
    top: 8px;
  }

  label span:nth-child(3) {
    top: 16px;
  }

  #checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
  }

  #checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
  }

  #checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
  }
}

.menuMobile {
  position: fixed;
  top: 0;
  right: -555px;
  height: 100dvh;
  width: 200px;
  background-color: var(--menu-background-color);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .menuHamburguer {
    display: block;
  }
}


@media(min-width: 769px){
  .menuMobile {
    right: -555px !important;
  }
  
}